<div class="danger-meter" [class.shielded]="isNextStepGuaranteedSafe">
    <div class="danger-meter-label">
        <span>{{ 'game.main.danger.label' | translate }}</span>
        @if (isNextStepGuaranteedSafe) {
            <span class="danger-meter-safe-badge">{{ 'game.main.danger.safe' | translate }}</span>
        }
    </div>
    <div class="danger-meter-bar-track" [title]="'game.main.danger.help' | translate">
        <div class="danger-meter-bar-fill" [class]="colorClass" [style.width.%]="dangerPercent"></div>
    </div>
    <div class="danger-meter-percent">{{ dangerPercent }}%</div>
    @if (showReliefCue) {
        <p class="danger-meter-relief-cue">{{ 'game.main.danger.relief' | translate }}</p>
    }
</div>
