<div class="pokedex-cell clickable"
     [class.won]="isWon"
     [class.not-captured]="!isCaptured"
  [ngClass]="(darkMode | async) ? 'border' : ''"
     [class.light-cell]="(darkMode | async) !== true"
     [ngbTooltip]="pokemonText | translate"
     placement="bottom"
     (click)="onCellClick()">

  <span class="number-badge">{{ formatPokemonNumber(pokemonId) }}</span>

  @if (spriteUrl) {
    <img [src]="spriteUrl"
         loading="lazy"
         class="cell-img"
         alt="Pokémon sprite">
  }
</div>
