<div class="game-container">
    <app-page-nav active="game"></app-page-nav>
    <div class="row justify-content-center">
        <div class="main-game col-12 col-sm-6">
            <app-roulette-container
                (resetGameEvent)="resetGame()">
            </app-roulette-container>
        </div>

        <div class="trainer-info col-12 col-sm-5">
            <div class="trainer-team">
                <app-trainer-team
                    (megaStoneInterrupt)="megaStoneInterrupt($event)">
                </app-trainer-team>
            </div>
            @if (itemsAvailable) {
                <div class="items">
                    <app-items
                        (rareCandyInterrupt)="rareCandyInterrupt($event)"
                        (megaStoneInterrupt)="megaStoneInterrupt($event)"
                        (typeBiasItemInterrupt)="typeBiasItemInterrupt($event)"
                        (linkCableInterrupt)="linkCableInterrupt($event)"
                        (threatShieldInterrupt)="threatShieldInterrupt($event)">
                    </app-items>
                    @for (bias of groupedTowardBiases; track bias.type + bias.mode) {
                        <div class="active-bias-indicator">
                            <img [src]="getBiasTypeIconUrl(bias)" [alt]="bias.type" height="20">
                            <span>
                                {{ getBiasLabelKey(bias) | translate }} {{ 'pokemonType.' + bias.type | translate }}
                                @if (bias.mode === 'soft' && bias.count > 1) { ×{{ bias.count }} }
                            </span>
                        </div>
                    }
                    @for (bias of groupedHoneyBiases; track bias.type) {
                        <div class="active-bias-indicator">
                            <img [src]="getBiasTypeIconUrl(bias)" [alt]="bias.type" height="20">
                            <span>
                                {{ 'game.main.activeBias.honey' | translate }} {{ 'pokemonType.' + bias.type | translate }}
                                @if (bias.count > 1) { ×{{ bias.count }} }
                            </span>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>




