<div class="roulette-header">
    <h1 class="title">{{ 'game.main.roulette.champion.victory' | translate }}</h1>
    <p class="respin-reason">{{ (retries > 0) ? (currentItem.text | translate)+" x"+retries : ""}}</p>
    @if (currentChampion && currentChampion.types?.length) {
        <div class="matchup-strip">
            <div class="matchup-icons-row">
                @for (type of currentChampion.types; track $index) {
                    <img [src]="getTypeIconUrl(type)" [alt]="type" height="20">
                }
            </div>
            @if (matchupAdvantageDelta > 0) {
                <div class="matchup-section">
                    <span class="matchup-label matchup-label-positive">{{ 'game.main.roulette.champion.typeAdvantage.advantage' | translate }}</span>
                    <div class="matchup-icons-row">
                        @for (type of matchupAdvantageTypes; track $index) {
                            <img [src]="getTypeIconUrl(type)" [alt]="type" height="20">
                        }
                        <span class="matchup-delta matchup-delta-positive">+{{ matchupAdvantageDelta }}</span>
                    </div>
                </div>
            }
            @if (matchupDisadvantageDelta > 0) {
                <div class="matchup-section">
                    <span class="matchup-label matchup-label-negative">{{ 'game.main.roulette.champion.typeAdvantage.disadvantage' | translate }}</span>
                    <div class="matchup-icons-row">
                        @for (type of matchupDisadvantageTypes; track $index) {
                            <img [src]="getTypeIconUrl(type)" [alt]="type" height="20">
                        }
                        <span class="matchup-delta matchup-delta-negative">-{{ matchupDisadvantageDelta }}</span>
                    </div>
                </div>
            }
        </div>
    }
</div>
<app-wheel
    #wheel
    [items]="victoryOdds"
    (selectedItemEvent)="onItemSelected($event)">
</app-wheel>
<div class="roulette-action-row"></div>

<ng-template #championPresentationModal let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.roulette.champion.champion' | translate }} {{ currentChampion.name | translate }}!</h1>
        <div class="champion-panel">
            <img [src]="currentChampion.sprite"
                 alt="{{currentChampion.name}}"
                 height="128">
            <div class="quotes">
                @for (quote of currentChampion.quotes; track $index) {
                    <p>{{quote | translate}}</p>
                }
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">{{ 'game.main.roulette.champion.go' | translate }}</button>
    </div>
</ng-template>

<ng-template #itemUsedModal let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.roulette.champion.use' | translate }} {{ currentItem.text | translate}}!</h1>
        <div class="item-panel">
            <img [src]="currentItem.sprite" height="128">
            <div class="quotes">
                <p>{{ currentItem.description | translate }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Ok</button>
    </div>
</ng-template>
