<div class="roulette-header">
    <h1 class="title">{{ 'game.main.roulette.rival.victory' | translate }}</h1>
    <p class="respin-reason">
        {{ (retries > 0 && currentItem) ? (currentItem.text | translate) + " x" + retries : ""}}
    </p>
    @if (currentRival?.types?.length) {
        <app-matchup-strip
            [opponentTypes]="currentRival.types"
            [superEffectiveTypes]="matchupSuperEffectiveTypes"
            [resistTypes]="matchupResistTypes"
            [weakTypes]="matchupDisadvantageTypes"
            [advantageDelta]="matchupAdvantageDelta"
            [disadvantageDelta]="matchupDisadvantageDelta"
            [odds]="prepPhase ? null : currentOdds" />
    }
</div>
@if (prepPhase) {
    <app-battle-prep-panel
        [team]="trainerTeam"
        [opponentTypes]="currentRival?.types"
        [items]="trainerItems"
        [forcedIndex]="markedTargetService.currentMarkedIndex"
        [baseNoCount]="baseNoCount"
        [currentRound]="currentRound"
        (confirmed)="onPrepConfirmed($event)" />
} @else {
    <app-wheel
        #wheel
        [items]="victoryOdds"
        (selectedItemEvent)="onItemSelected($event)">
    </app-wheel>
}
<div class="roulette-action-row"></div>

<ng-template #presentationModalRef let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.roulette.rival.against' | translate }} {{ currentRival.name | translate }}!</h1>
        <div class="rival-panel">
            <img [src]="currentRival.sprite" alt="{{currentRival.name}}" height="128">
            <div class="quotes">
                @for (quote of currentRival.quotes; track $index) {
                    <p>{{quote | translate}}</p>
                }
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">{{ 'game.main.roulette.rival.go' | translate }}</button>
    </div>
</ng-template>

<ng-template #itemUsedModalRef let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.roulette.rival.used' | translate }} {{ currentItem.text | translate }}!</h1>
        <div class="item-panel">
            <img [src]="currentItem.sprite" height="128">
            <div class="quotes">
                <p>{{ currentItem.description | translate}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Ok</button>
    </div>
</ng-template>

<ng-template #faintedModal let-modal>
    <div class="modal-body">
        @if (faintedPokemon) {
            <h1>{{ (faintedPokemon.text | translate) + ' ' + ('game.main.roulette.rival.fainted' | translate) }}</h1>
            <div class="item-panel">
                <img [src]="faintedPokemon.sprite?.front_default" height="128">
            </div>
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Ok</button>
    </div>
</ng-template>
