<div class="page-shell">
  <app-page-nav active="coffee"></app-page-nav>
  <div class="page-title">
    <ng-icon name="bootstrapCupHotFill"></ng-icon> {{ 'coffee.title' | translate }}
  </div>

  <div class="page-card text-center">
    <p>{{ 'coffee.how_to_help' | translate }}</p>
    <p class="mb-0">{{ 'coffee.donations' | translate }}</p>
  </div>

  <div class="page-card text-center">
    <div class="page-card-title">{{ 'coffee.supportFork' | translate }}</div>
    <p>{{ 'coffee.supportForkDescription' | translate }}</p>
    <a href="https://ko-fi.com/tormarod" target="_blank" class="btn btn-danger">
      <ng-icon name="bootstrapCupHotFill"></ng-icon> {{ 'coffee.buyMeACoffee' | translate }}
    </a>
  </div>

  <div class="page-card text-center">
    <div class="page-card-title">{{ 'coffee.support' | translate }}</div>
    <div class="coffee-support-columns">
      <div class="page-tile coffee-support-tile">
        <p>{{ 'coffee.pixIntro' | translate }}</p>
        <img src="qr_code.jpeg" alt="PIX QR Code" class="coffee-qr" (click)="copyPixCode()">
        <br>
        <a href="javascript:void(0)" class="link-primary" (click)="copyPixCode()">
          {{ pixCodeCopied ? ('coffee.pixCopied' | translate) : ('coffee.pixCopy' | translate) }}
        </a>
      </div>
      <div class="page-tile coffee-support-tile">
        <p>{{ 'coffee.internationalIntro' | translate }}</p>
        <p>{{ 'coffee.tryKofi' | translate }}</p>
        <a href="https://ko-fi.com/zeroxm" target="_blank" class="btn btn-danger">
          <ng-icon name="bootstrapCupHotFill"></ng-icon> {{ 'coffee.buyMeACoffee' | translate }}
        </a>
      </div>
    </div>
  </div>

  <div class="page-card text-center">
    <div class="page-card-title">{{ 'coffee.thanks' | translate }}</div>
    <p class="mb-0">{{ 'coffee.hope' | translate }}</p>
  </div>

  <p class="page-subtitle"><em>{{ 'coffee.supportNote' | translate }}</em></p>
</div>
